/******************************************************************************/
// Structure for the app
/******************************************************************************/

body {
  overflow: hidden;
}

body, #canvas {
  width: 100%;
  height: 100%;
}
